/* Navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* Home Section */

#home{
    height: 250px;
    padding: 20px 80px;
}

#home::before{
    height: 400px;
}

#home p{
    font-size: 13px;
}

/* services section */

#services{
    flex-direction: column;

}

#services .box{

}


/* client section */

#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 66px;
    height: 60px;
    padding: 2px 6px;
}


/* Contact Section */

#contact-box form{
    width: 80%;
    justify-content: center;
    align-items: center;

}

/* Footer section */

footer{
    font-size: 15px;
}

/* utility classes */

.h-primary{
    font-size: 26px;
}

.btn{
    font-size: 16px;
    padding: 8px 15px;
}